/* Projects Section */
#Projects {
    background-color: black;
    padding: 100px 0;
}

.projects .heading {
    text-align: center;
    font-size: 60px;
    padding-bottom: 10px;
    color: #fff;
}

.projects .heading span {
    color: #0ef;
}

.projects-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    justify-items: center;
    padding: 50px 10%;
}

.project-item {
    position: relative;
    width: 100%;
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: slideUP 1s ease forwards;
    animation-delay: 1s;
}

.project-item:hover .project-overlay {
    opacity: 1;
}

.project-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.project-overlay h3 {
    font-size: 32px;
    color: #fff;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}

.project-overlay p {
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 1px;
}

.project-item:hover .project-overlay h3,
.project-item:hover .project-overlay p {
    opacity: 1;
}

@keyframes slideUP {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
